.logo-container{
    z-index: 0;
    width: 400px;
    height: 609px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    opacity: 1;
    animation: rotateIn 2.5s;
    animation-fill-mode: forwards;
    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }
    .solid-logo{
        position: absolute;
        top: auto;
        bottom: auto;
        right: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 1;
        transform: rotateZ(30deg);
    }
}
.svg-container{
    stroke: #ffd700;
    stroke-width: 10;
}